body {
	font-family: 'Roboto', sans-serif;
}

.container {
	margin-right: auto;
	margin-left:  auto;
	max-width: 960px;
	padding-right: 10px;
	padding-left:  10px;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

a {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

header {
	position: fixed;
    width: 100%;
    background: #fff;
    top:0;
    left: 0;
    z-index: 2;
}

header a {
	color: #333333;
	text-decoration: none;
	font-size: 15px;
}

.header-phone {
	font-size: 18px;
}

.header-phone:hover {
	color: #337ab7;
}

.menu-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0;
	flex-wrap: wrap;
}

.menu-flex li:hover {
	text-decoration: underline;
}

.header-button {
	border:none;     
	outline: none;
	padding: 15px 50px;
	background: #006ce1;
	color: #fff;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	border-radius: 20px;
	cursor:pointer;
}

li.header-menu-button:hover {
	text-decoration: none;
	transform: scale(1.01);
}

@media screen and (max-width: 992px) {
	.menu-flex {
		margin: 30px 0;
	}

	.header-button {
		padding: 7px 10px;
	}

	header a {
		font-size: 14px;
	}
}

@media screen and (max-width: 768px) {
	header a {
		font-size: 12px;
		margin-right: 10px;
	}

	.menu-flex {
		justify-content: center;
	}

	.menu-flex li:nth-child(5) {
		flex-basis: 100%;
		margin-left: calc(48% - 81px);
		margin-right: calc(48% - 81px);
	    margin-top: 15px;
	    margin-bottom: 15px;
}

	.menu-flex li:nth-child(6) {
		flex-basis: 100%;
		margin-left: calc(48% - 57px);
		margin-right: calc(48% - 57px);
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 425px) {
	.menu-flex > :not(:last-child) {
		display: none;
	}
}

